body {
	font-size: 16px;
	color: #fff;
	background-color: green;
}

/* Header */
#header-nav {
	background-color: red;
	border-radius: 0;
	border: 0;
}
.nav-brand {
	padding-top: 15px;
}
.nav-brand h1 {
	color: black;
	font-size: 1.7em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 2px 2px 2px white;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	line-height: .9;
	float: left;
}
.nav-brand a:hover, .nav-brand a:focus {
	text-decoration: none;
}
div.container{
	padding: 20 0 0 0;
	margin: 0 0 0 0;
}
div.navbar-header{
	margin: 0 0 0 0;
}

/* Nav List Things */

#nav-list {
	margin-top: 50px;
	background-color: red;
}
#nav-list a {
	color: black;
	text-align: center;
	background: white;
}
#nav-list a:hover {
	background: green;
}
#nav-list a span {
	font-size: 1.8em;
	vertical-align: middle;
}
.navbar.navbar-default .navbar-collapse {
	border: none;
	box-shadow: none;
}
.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -30px;
}
div #collapsable-nav {
	margin-top: 40px;
}

/* Menu Body */
#our-menu {
	margin-bottom: 10;
	color: blue;
	font-weight: bold;
}
#dummy-text{
	color: yellow;
	background-color: grey;
}
#dummy-text span {
	padding-top: 20px;
	font-weight: bold;
	font-size: 1.2em;
}
#dummy-text p {
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
}

/* XS Devices extras */
@media (max-width: 767px){
	div #text-box{
		padding-left: 80px;
		padding-right: 80px;
	}
}
